<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>907581638830-d4gusnmgaqjomthhgjoc0mij6qiv4bot.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.907581638830-d4gusnmgaqjomthhgjoc0mij6qiv4bot</string>
	<key>API_KEY</key>
	<string>AIzaSyBClLJWV5xaKtnpz4gmUTV60JOdqvQoAIU</string>
	<key>GCM_SENDER_ID</key>
	<string>907581638830</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Maria.Pharmacy</string>
	<key>PROJECT_ID</key>
	<string>pharmacy-c4518</string>
	<key>STORAGE_BUCKET</key>
	<string>pharmacy-c4518.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:907581638830:ios:8e10a1ec58599f8446053f</string>
</dict>
</plist>